/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.75);
$white: #fff;

$font-body: "Montserrat", sans-serif;

/* Components */
